body {
  background-color: #f9b2be;
  font-family: 'Nunito', sans-serif; }

.wrapper {
  height: 100vh;
  background-image: url("../img/banana.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.my-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.buttons {
  width: 100%;
  height: 200%;
  font-weight: 800;
  font-size: 2rem;
  border: solid 5px white;
  border-radius: 100px;
  background-color: transparent;
  color: white;
  transition: .3s ease-in;
  overflow: hidden;
  position: relative; }
  .buttons:after {
    position: absolute;
    height: 100%;
    transition: .2s;
    content: '';
    width: 0;
    left: -5px;
    top: 0;
    background-color: white;
    transform: skewX(15deg);
    z-index: -1; }
  .buttons:hover {
    color: #fbd157; }
    .buttons:hover:after {
      width: 105%; }
  .buttons:focus {
    outline: none; }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: -200px;
  height: 100vh;
  animation-name: fadeIn;
  animation-duration: 0.4s; }

.modal-content {
  background-color: #fefefe;
  position: relative;
  margin: auto;
  padding: 20px;
  width: 80%;
  height: 297px;
  animation-name: slideIn;
  animation-duration: 0.4s;
  background-image: url("../img/puggo.png");
  background-repeat: no-repeat, repeat; }

.modal-content p {
  position: absolute;
  font-size: 2rem;
  width: 30%;
  left: 53%;
  top: 25%; }

.close {
  color: #fbd157;
  position: absolute;
  right: 30px;
  font-size: 42px;
  font-weight: bold; }
  .close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer; }

@keyframes slideIn {
  from {
    top: -500px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.loader-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 60px 90px;
  border-radius: 10px; }

.loading-button {
  font-weight: 600;
  padding: 10px; }

.badge {
  width: 250px; }

.circle {
  animation: grow 3s ease-out infinite;
  transform-origin: 50% 50%; }

.banana {
  transform: scale(0.4);
  transform-origin: 50% 50%;
  animation: spin 2s ease-in-out infinite; }

@keyframes grow {
  10% {
    transform: scale(0.2); }
  20% {
    transform: scale(0.5); }
  10% {
    transform: scale(0.2); } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.dot-container {
  position: relative;
  left: 50%;
  transform: translate(-20%);
  padding: 5px 0 70px 0; }

.loading {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  float: left;
  margin-right: 15px;
  background: #fbd157;
  animation: bounce 1.2s infinite; }

.loading-0 {
  animation-delay: .3s; }

.loading-1 {
  animation-delay: .5s; }

.loading-2 {
  animation-delay: .7s; }

@keyframes bounce {
  0%, 100% {
    opacity: 1; }
  60% {
    opacity: .0; } }
.cube-container {
  perspective: 800px;
  box-shadow: 0 18px 40px 5px rgba(0, 0, 0, 0.4);
  margin-bottom: 100px; }

.photo-cube {
  transition: transform 2s ease-in-out;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  animation: rotate 6s linear infinite; }

@keyframes rotate {
  0% {
    transform: rotateY(0deg); }
  100% {
    transform: rotateY(-360deg); } }
.front,
.back,
.left,
.right {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute; }

.front {
  transform: translate3d(0, 0, 150px); }

.back {
  transform: translateZ(-150px) rotateY(270deg);
  transform-origin: center left; }

.left {
  transform: rotateY(-270deg) translate3d(150px, 0, 0);
  transform-origin: top right; }

.right {
  transform: translateZ(-150px) rotateY(180deg); }

/*# sourceMappingURL=styles.css.map */
